:root {
    /* Настраиваем ширины */
    --vp-sidebar-width: 337px;      /* Левый сайдбар */
    --vp-aside-width: 500px;        /* Правый сайдбар (On this page) */
    --vp-layout-max-width: 100%;    /* Убираем ограничение на общую ширину */

    --shiki-foreground: #eeeeee;
    --shiki-background: #be0e0e;
    --shiki-token-constant: #660000;
    --shiki-token-string: #770000;
    --shiki-token-comment: #880000;
    --shiki-token-keyword: #990000;
    --shiki-token-parameter: #aa0000;
    --shiki-token-function: #bb0000;
    --shiki-token-string-expression: #cc0000;
    --shiki-token-punctuation: #dd0000;
    --shiki-token-link: #ee0000;
  
    /* Only required if using lang: 'ansi' */
    --shiki-ansi-black: #510c0c;
    --shiki-ansi-black-dim: #00000080;
    --shiki-ansi-red: #bb0000;
    --shiki-ansi-red-dim: #bb000080;
    --shiki-ansi-green: #00bb00;
    --shiki-ansi-green-dim: #00bb0080;
    --shiki-ansi-yellow: #bbbb00;
    --shiki-ansi-yellow-dim: #bbbb0080;
    --shiki-ansi-blue: #0000bb;
    --shiki-ansi-blue-dim: #0000bb80;
    --shiki-ansi-magenta: #ff00ff;
    --shiki-ansi-magenta-dim: #ff00ff80;
    --shiki-ansi-cyan: #00bbbb;
    --shiki-ansi-cyan-dim: #00bbbb80;
    --shiki-ansi-white: #eeeeee;
    --shiki-ansi-white-dim: #eeeeee80;
    --shiki-ansi-bright-black: #555555;
    --shiki-ansi-bright-black-dim: #55555580;
    --shiki-ansi-bright-red: #ff5555;
    --shiki-ansi-bright-red-dim: #ff555580;
    --shiki-ansi-bright-green: #00ff00;
    --shiki-ansi-bright-green-dim: #00ff0080;
    --shiki-ansi-bright-yellow: #ffff55;
    --shiki-ansi-bright-yellow-dim: #ffff5580;
    --shiki-ansi-bright-blue: #5555ff;
    --shiki-ansi-bright-blue-dim: #5555ff80;
    --shiki-ansi-bright-magenta: #ff55ff;
    --shiki-ansi-bright-magenta-dim: #ff55ff80;
    --shiki-ansi-bright-cyan: #55ffff;
    --shiki-ansi-bright-cyan-dim: #55ffff80;
    --shiki-ansi-bright-white: #ffffff;
    --shiki-ansi-bright-white-dim: #ffffff80;
}




.content-container {
    max-width: 100% !important;
}

.docs-container {
    padding: 20px;
    border: 1px solid #4c4d4f;
    border-radius: 6px;
}

@media (max-width: 1440px) {
    .VPDocAside, .aside {
        display: none !important;
    }

    /* Чтобы контент не оставлял место под aside */
    .VPContent.has-sidebar {
        padding-right: 0 !important;
    }
}